In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('correlation analysis.csv', engine = 'python', index_col = 0)

In [11]:
df

,DA,데이터 개발자,데이터 엔지니어,데이터 분석가,DBA,데이터 사이언티스트,데이터 컨설턴트,데이터 기획/마케터
데이터아키텍쳐전문가(DAP),0.738035,0.717233,0.639505,0.755782,0.689856,0.688111,0.619113,0.603499
데이터아키텍쳐준전문가(DAsP),0.379039,0.361748,0.274539,0.422508,0.316999,0.325537,0.256258,0.246971
SQL전문가(SQLP),0.861501,0.840690,0.801002,0.834965,0.841397,0.856044,0.777941,0.760685
SQL개발자(SQLD),0.601651,0.581404,0.522586,0.602956,0.561796,0.585067,0.499252,0.486296
데이터분석전문가(ADP),0.165059,0.152026,0.047341,0.241226,0.089175,0.084444,0.034732,0.029370
데이터분석준전문가(ADsP),0.620756,0.603616,0.497764,0.676549,0.553504,0.533849,0.481866,0.468437
정보처리기사,0.809996,0.791197,0.671678,0.876358,0.739505,0.686997,0.660436,0.643083

In [22]:
df[df['DA'] == df['DA'].max()][['DA']]

                     DA
SQL전문가(SQLP)   0.861501